body {
  font-family: 'Roboto', sans-serif;
  background-color: #1F2937;
  margin: 0
}

.container {
  display: flex;
  color: #F9FAF8;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.logo {
  font-size: 24px;
  flex-grow: 1;
}

.header-links {
  font-size: 18px;
  color: #E5E7EB;
  align-self: center;
  padding: 12px;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 0;
}

.awesome {
  font-size: 48px;
  margin: 0;
}

.awesome-subtext {
  margin-top: 12px;
  padding-right: 32px;
}

.image-1 {
  align-self: center;
  height: 300px;
  flex-grow: 1;
  text-align: center;
  align-content: center;
}

.sign-up-button {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  width: 120px;
  height: 30px;
  padding: 0;
  border: 0;
}

.random-info {
  background-color: white;
  text-align: center;
  color: black;
  margin: 0px;
  padding-top: 20px;
}

.container-3 {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px 60px;
  padding-bottom: 60px;
}

.images {
  height: 200px;
  margin: 15px;
  border: 2px solid black;
  border-radius: 20px;
  align-content: center;
}

.image-text {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.container-4 {
  display: flex;
  background-color: #E5E7EB;
  color: #1F2937;
  justify-content: center;
  padding: 45px 180px;
  flex-direction: column;
}

.quote {
  width: 700px;
  font-size: 36px;
  margin-bottom: 12px;
  text-align: justify;
  align-self: center;
}

.author {
  text-align: right;
  width: 700px;
  align-self: center;
  margin: 0;
}

.container-5 {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.sign-up-banner {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;  
  width: 800px;
}

.sign-texts {
  flex-direction: column;
}

.call-text {
  font-size: 18px;
  margin: 0;
}

.call-subtext {
  font-size: 16px;
  margin: 0;
}

.log-button {
  background-color: #3882F6;
  border-radius: 5px;
  margin: 10px;
  padding: 0;
  width: 90px;
  color: white;
  border: 1px solid white,
}
